@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #ffc300;
    --main-bg-color: #009d63;
    --main-text-color: #f8f9fa;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.theme-text {
    color: var(--main-color);
}

.act {
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.header {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../img/landing-page-bg.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wave {
    position: absolute;
}

.header .wave {
    bottom: 0px;
}

.about .wave {
    bottom: -662px;
}

.middle {
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.middle h1 {
    font-size: 70px;
}

.container {
    border-radius: 0.9rem!important;
}

.about {
    margin: 0px;
}

.about-img img {
    max-width: 662px;
}

.bg-login {
    margin: 100px;
    color: #041562;
    background-color: #afcefa;
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
    min-height: 100px;
    width: 85vw;
    margin: 27px auto;
    border-radius: 1.9rem!important;
}

.home {
    background-image: radial-gradient(circle, #f5ecef, #f6eef0, #f6eff1, #f7f1f3, #f7f3f4);
}

.txt {
    margin-bottom: 60px;
}

.txt-1 {
    font-size: 35px;
    font-weight: bolder;
}
.txt-2 {
    font-size: 20px;
}

.txt-2 span {
    color: #FFC300;
}

.right-container {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius: 1.9rem;
    padding: 0px;
}

.left-container {
    width: 100%;
    height: 100%;
    background-color: #afcefa;
    border-radius: 1.9rem 0px 0px 1.9rem;
    text-align: center;
    padding: 50px;
}

.left-container img {
    max-width: 100%;
    max-height: 100%;
    line-height: 10px;
}

.no-pad-left{
    padding-left: 0px;
    padding-right: 0px;
}
.no-pad-right{
    padding-left: 0px;
    padding-right: 0px;
}

.no-margin-left {
    margin-left: 0px;
}

.content-right {
    padding: 40px 40px 40px 40px;
    
}

.mb-7 {
    margin-bottom: 5rem!important;
}

.form-group {
    margin-top: 5rem;
}

.pricing {
    background-color: #d1cbcb!important;
}

.pricing .container h1 {
    text-align: center;
    margin-bottom: 90px;
}

.py-8 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.text-muted a {
    text-decoration: underline!important;
}
.text-muted a:hover {
    cursor: pointer;
}

.text-footer {
    width: 50%;
}

.py-7 {
    padding-top: 1rem!important;
    padding-bottom: 0rem!important;
}

.text-end .btn {
    margin-left: 10px;
    font-weight: 10000;
}

.fixed-top {
    padding: 8px 100px 8px 100px;
}

.sticky {
    background: #212529;
}


.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: radial-gradient(circle, #f5ecef, #f6eef0, #f6eff1, #f7f1f3, #f7f3f4);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

.btn-main {
    color: #212529;
}